*
{
    padding: 0;
    margin: 0;
}
#head
{
    border-bottom: 2px solid black;
}
#root
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#container
{
    min-width: 450px;
    width:auto;
    height: auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    flex-wrap: wrap;
    position: relative;
    
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
table
{
    font-size: 20px;
    border-collapse: collapse;
    border: 2px solid black;
}
td
{
    border: 2px solid black;
    gap: 5px;
    padding: 5px;
}
td:first-child
{
    font-weight: 500;
}
textarea
{
    resize: none;
    font-size: 20px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
#Name,#Age,#Country-input
{
    padding: 10px;
    width: 90%;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
#r_but
{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}
#c_box
{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
}